/* Tablet devices */
@media screen and (max-width:768px) {

    /* banner area start */

    .banner {
        padding: 50px 30px;
    }

    .container {
        width: 95%;
    }

    .banner-details h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .banner-details p {
        font-size: 14px;
    }

    .banner-image img {
        width: 323px;
        height: 340px;
    }

    /* banner area end */

    /* blog & upcoming match area start */
    .blogs,
    .upcoming-match-container {
        flex-direction: column;
        column-gap: 0;
        margin-top: 0;
        padding-bottom: 50px;
    }

    .upcoming-match-container {
        padding: 50px;
    }

    .blog-nav,
    .upcoming-match-nav {
        flex-direction: row;
        background-color: #FFFFFF;
        width: 100%;
        height: auto;
        padding: 20px 0;
    }

    .blog-nav a,
    .upcoming-match-nav a {
        box-shadow: 7px 3px 5px 0px rgba(245, 235, 245, 1);
        width: 30%;
        margin-left: 10px;
    }

    .blog-area,
    .match-area {
        grid-template-columns: repeat(2, 1fr);

    }

    .hide-on-tablet {
        display: none;
    }

    .more {
        display: block;
    }


    /* blog area end */

    /* upcoming  end*/



    /*  footer area start*/
    .menu-items {
        grid-template-columns: repeat(3, 1fr);
    }

    /*  footer area end*/

}

/* Mobile devices */
@media screen and (max-width:576px) {

    /* banner area start  */

    .banner {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }

    .banner-details {
        text-align: center;
        margin-bottom: 50px;
    }

    .banner-details h1 {
        font-size: 24px;
        line-height: 35px;
        letter-spacing: 1px;
    }

    .banner-details p {
        font-size: 14px;
    }

    .banner-image img {
        width: 230px;
        height: 245px;
    }


    /* banner area end  */

    /* blog area start */

    .blog-nav,
    .upcoming-match-nav {
        flex-direction: column;
        align-items: center;
    }

    .blog-nav a,
    .upcoming-match-nav a {
        width: 60%;
    }

    .blog-area,
    .match-area {
        grid-template-columns: repeat(1, 1fr);

    }

    .single-blog {
        padding: 10px 20px;
    }

    .upcoming-match-container {
        padding: 0;
    }

    .single-match {
        padding: 0;
    }


    .single-blog .description h3,
    .single-blog .description a,
    .match-details h3 {
        font-size: 26px;
    }

    .match-details p {
        font-size: 18px;
    }

    .blog-info i,
    .blog-info span {
        font-size: 28px;
    }

    .more {
        display: none;
    }

    /* blog area end */





    /* footer start */

    .footer-area .logo h2 {
        font-size: 30px;

    }

    .menu-items {
        grid-template-columns: repeat(1, 100%);
        row-gap: 30px;
        column-gap: 0;
        padding-left: 0;
    }

    .footer-area a {
        font-size: 18px;
        margin: 10px 0;
    }

    .social-network {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        text-align: center;
    }

    .social-network a {
        font-size: 20px;

    }

    /* footer end */

}

@media screen and (min-width:769px) and (max-width:1024px) {

    /* banner area start */
    .banner {
        padding: 50px;
    }

    .banner-details h1 {
        font-size: 50px;
        line-height: 60px;
    }

    .banner-image img {
        width: 300px;
        height: 350px;
    }

    /* banner area end */

    /* blog */

    .blogs,
    .upcoming-match-container {
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        padding: 0 50px;
    }

    .blog-nav,
    .upcoming-match-nav {
        flex-direction: row;
        background-color: #FFFFFF;
        width: 100%;
        height: auto;
        padding: 20px 0;
    }

    .blog-nav a,
    .upcoming-match-nav a {
        box-shadow: 7px 3px 5px 0px rgba(245, 235, 245, 1);
        width: 30%;
        margin-left: 10px;
    }


    /* Footer */
    .menu-items {
        grid-template-columns: repeat(3, 1fr);
    }
}