/* Tablet devices */
@media screen and (max-width:768px) {

    /* banner area start */

    .banner {
        padding: 50px 30px;
    }

    .container {
        width: 95%;
    }

    .banner-details h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .banner-details p {
        font-size: 14px;
    }

    .banner-image img {
        width: 323px;
        height: 340px;
    }

    /* banner area end */

    /* blog area start */
    .blogs {
        flex-direction: column;
        column-gap: 0;
        margin-top: 0;
        padding-bottom: 50px;
    }

    .blog-nav {
        flex-direction: row;
        background-color: #FFFFFF;
        width: 100%;
        height: auto;
        padding: 20px 0;
    }

    .blog-nav a {
        box-shadow: 7px 3px 5px 0px rgba(245, 235, 245, 1);
        width: 30%;
        margin-left: 10px;
    }

    .blog-area {
        grid-template-columns: repeat(2, 1fr);

    }

    .hide-on-tablet {
        display: none;
    }

    .more {
        display: block;
    }


    /* blog area end */

    /*  footer area start*/
    .menu-items {
        grid-template-columns: repeat(3, 1fr);
    }

    /*  footer area end*/

}

/* Mobile devices */
@media screen and (max-width:576px) {}