/* -----------------------
Google fonts 
--------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* -----------------------
Default Styles Start
-------------------------- */
body {
    color: #161616;
    background-color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

p {
    font-size: 16px;
}

h1 {
    font-size: 70px;
}

img {
    width: 100%
}

/* -----------------------
Default Styles End
-------------------------- */

/* -----------------------
Banner style start 
 -------------------------*/

.banner {
    margin-top: 20px;
    display: flex;
    background-color: #161616;
    border: 1px solid #161616;
    border-radius: 24px;
    padding: 35px 70px 0 70px;

}

.banner-details h1 {
    color: #FFFFFF;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 90px;
}

.banner-details p {
    color: #FFFFFF;
    margin-bottom: 40px;
}

.btn {
    color: #FFFFFF;
    padding: 10px 20px;
    transition: background-color 1s linear, padding 1s linear;
}

.btn:hover {
    background-color: orangered;
    border: 1px solid orangered;
    padding: 10px 25px;
}

.active {
    color: #FFFFFF;
    background-color: #DD0000;
    border: 1px solid #DD0000;
    border-radius: 6px;
}

.fa-angle-right {
    margin-left: 10px;
}

.banner-image img {
    width: 500px;
    height: 550px;
}

/* -----------------------
Banner style end 
 -------------------------*/


/* -----------------------
Blog style start 
 -------------------------*/

.blogs {
    display: flex;
    column-gap: 20px;
    margin-top: 120px;
}


.blog-nav {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 200px;
    background-color: #161616;
    padding: 40px;
}

.blog-nav a {
    text-align: center;
    color: #161616;
    background-color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    padding: 10px 20px;
}

.blog-nav .btn:hover {
    background-color: red;
    border: 1px solid red;
    color: #FFFFFF
}

#current-page {
    color: #FFFFFF;
    background-color: #DD0000;
    border: 1px solid #DD0000;
    border-radius: 6px;
}

.blog-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 40px;
    padding-bottom: 100px;
}

.single-blog {
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    -webkit-box-shadow: 7px 3px 5px 0px rgba(245, 235, 245, 1);
    -moz-box-shadow: 7px 3px 5px 0px rgba(245, 235, 245, 1);
    box-shadow: 7px 3px 5px 0px rgba(245, 235, 245, 1);
}

.single-blog .description,
.single-blog .blog-info {
    padding: 10px;
}

.single-blog .description h3 {
    color: #161616;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
}

.single-blog .description a {
    color: #161616;
    padding: 2px 10px;
    border: 1px solid #161616;
    border-radius: 4px;
    font-weight: 500;
}

.blog-info span {
    margin-left: 7px;
}

.blog-info .duration {
    margin-right: 20px;
}

.more {
    text-align: center;
    display: none;
}

.all-blog #more {
    display: inline-block;
    padding: 10px 30px;
    font-size: 20px;
}

/* -----------------------
Blog style end 
 -------------------------*/

/* -----------------------
Footer style start 
 -------------------------*/

.footer-area {
    background-color: #161616;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    padding: 50px 100px;
}

.logo {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    text-align: center;
}

.footer-area .logo h2 {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 600;
}

.menu-items {
    display: flex;
    column-gap: 30px;
}

.footer-area a {
    color: #B9B9B9;
    font-weight: 500;
    transition: color 0.5s linear;
}

.footer-area a:hover {
    color: #FFFFFF;
}

.social-network a {
    font-size: 18px;
    margin: 0 10px;
}

/* -----------------------
Footer style end 
 -------------------------*/