/*  ----------------------- 
 upcoming page start 
  -------------------------*/
.upcoming-match-container {
    display: flex;
    column-gap: 50px;
    justify-content: space-around;
    padding: 100px 0;
}

.upcoming-match-nav {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 200px;
    background-color: #161616;
    padding: 40px;
}

.upcoming-match-nav a {
    text-align: center;
    color: #161616;
    background-color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    padding: 10px 20px;
}

.upcoming-match-nav.btn:hover {
    background-color: red;
    border: 1px solid red;
    color: #FFFFFF
}

#current-page {
    color: #FFFFFF;
    background-color: #DD0000;
    border: 1px solid #DD0000;
    border-radius: 6px;
}

.match-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    row-gap: 75px;
}

.single-match {
    padding: 30px 15px;
    -webkit-box-shadow: 7px 3px 5px 0px rgba(245, 235, 245, 1);
    -moz-box-shadow: 7px 3px 5px 0px rgba(245, 235, 245, 1);
    box-shadow: 7px 3px 5px 0px rgba(245, 235, 245, 1);
}



.match-flags {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

.match-flags img {
    width: 60px;
    height: 38px;
}

.match-flags span {
    font-size: 13px;
    font-weight: bold;
}

.match-details {
    text-align: center;
}

.match-details h3 {
    font-size: 14px;

}

.match-details p {
    font-size: 12px;
    color: #9B9B9B;
}